@page
@model PharmaceuticalManagement_StudentName.Pages.Account.ForbiddenModel
@{
	ViewData["Title"] = "Access Denied";
}
}
<h2>Access Denied</h2>
<p>You do not have permission to do this function!.</p>

<a asp-page="/Account/Logout" class="btn btn-primary">Back to Login</a>